<% provide(:title, "Evaluations") %>

<% score_array = ["Strongly Disagree", "Disagree", "Neutral", "Agree", "Strongly Agree"] %>
<% rating_array = ["Unsatisfactory", "Poor","Average", "Good", "Excellent"]%>

<div id="<%= dom_id evaluation %>">
  <div class="presentation-container">
    <div class="display_stats ps-5">
      <h4 class="bold"><%= evaluation.presentation.title %></h4>
      
      <% if current_user.role != "Student"%>
        <p>
          <strong>User:</strong>
          <%= evaluation.user.first %> <%= evaluation.user.last %>
        </p>
      <% end %>

      <div class="stats-grid">
        <h4 class="bold stats-grid-title">Quality</h4>
        <h4 class="bold stats-grid-title">Score (0-5)</h4>

        <% @attribute_labels.each do |attribute, label| %>
          <p class="stats-item stats-attr"><%= label %></p>
          <p class="stats-item stats-score"><%= @attribute_values[attribute] %></p>
        <% end %>

        <p class="stats-item stats-attr"><strong>Comments: <%= evaluation.comments%></strong></p>
      </div>
    </div>
  </div>
</div>
