<div id="<%= dom_id evaluation %>">
<p>
  <strong>User:</strong>
  <%= evaluation.user.first %> <%= evaluation.user.last %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= evaluation.presentation.title %>
</p>

<p>
  <strong>Clear Topic Introduction:</strong>
  <%= evaluation.clear_topic_intro %>
</p>

<p>
  <strong>Clear Direction Introduction:</strong>
  <%= evaluation.clear_direction_intro %>
</p>

<p>
  <strong>Logical Sequence:</strong>
  <%= evaluation.logical_sequence %>
</p>

<p>
  <strong>Good Summary Conclusion:</strong>
  <%= evaluation.good_summary_conclusion %>
</p>

<p>
  <strong>Enough Information:</strong>
  <%= evaluation.enough_information %>
</p>

<p>
  <strong>Free from Filler:</strong>
  <%= evaluation.free_from_filler %>
</p>

<p>
  <strong>Filled Time:</strong>
  <%= evaluation.filled_time %>
</p>

<p>
  <strong>Easily Follow:</strong>
  <%= evaluation.easily_follow %>
</p>

<p>
  <strong>Presenter Clear Understanding:</strong>
  <%= evaluation.presenter_clear_understanding %>
</p>

<p>
  <strong>Consistent Findings:</strong>
  <%= evaluation.consistent_findings %>
</p>

<p>
  <strong>Questions Answered:</strong>
  <%= evaluation.questions_answered %>
</p>

<p>
  <strong>Effective Visuals:</strong>
  <%= evaluation.effective_visuals %>
</p>

<p>
  <strong>Legible Visuals:</strong>
  <%= evaluation.legible_visuals %>
</p>

<p>
  <strong>Proper Grammar:</strong>
  <%= evaluation.proper_grammar %>
</p>

<p>
  <strong>Visuals Enhance:</strong>
  <%= evaluation.visuals_enhance %>
</p>

<p>
  <strong>Appropriate Timing Visuals:</strong>
  <%= evaluation.appropriate_timing_visuals %>
</p>

<p>
  <strong>Clear Delivery:</strong>
  <%= evaluation.clear_delivery %>
</p>

<p>
  <strong>Effective Body Language:</strong>
  <%= evaluation.effective_body_language %>
</p>

<p>
  <strong>Eye Contact:</strong>
  <%= evaluation.eye_contact %>
</p>

<p>
  <strong>Overall Score:</strong>
  <%= evaluation.overall_score %>
</p>

<p>
  <strong>Comments:</strong>
  <%= evaluation.comments %>
</p>

</div>
