<% provide(:title, "Evaluations") %>
<p style="color: green"><%= notice %></p>

<h1>Evaluations</h1>


<% if user_signed_in? %>
  <div id="evaluations">
    <% @evaluations.each do |evaluation| %>
      <%= render evaluation %>
      <p>
        <%= link_to "Show this evaluation", evaluation %>
      </p>
      <hr>
    <% end %>
  </div>

   <%= link_to "Back to Home Page", home_path %>


<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to see evaluations.</p>
<% end %>