<% provide(:title, "Home") %>
<div class="center jumbotron">
    <h1>Comprehensive Assessment of Presentation Effectiveness</h1>
    <h2>Peer Evaluation Tool</h2>
    <br>
    <% if user_signed_in? %> 
        <p>
            Welcome, <%= current_user.first %> 
        </p>
        <hr>
        <% if current_user.role == 'Student' %>
            <p>
                <%= link_to 'View All Presentations', presentations_path %> 
            </p>
            <hr>
            <p>
                Your Upcoming Presentations:

            </p>
            <% @user_attribute_averages.each do |presentation, averages| %>
                <% if presentation.course == current_user.course%>
                    <div class= "display_stats">
                        <p><%= presentation.title %> | <%= link_to 'View Presentation', presentation_path(presentation) %></p>

                        <% if averages['evaluation_count'] == 0%>
                            <p>Evaluations statistics will show up here after your presentation</p>
                            </div>
                        <% else %>

                        <table>
                            <thead>
                                <tr>
                                    <th>Quality</th>
                                    <th>Average(out of 5)</th>
                                </tr>
                            </thead>
                            <tbody>
                            <% averages.each do |attribute, average| %>
                                <% if attribute.humanize == "Evaluation count" %>
                                    <% next %>
                                <%end%>
                                <tr>
                                <td><%= attribute.humanize %></td>
                                <td><%= number_with_precision(average, precision: 2) %></td>
                                </tr>
                            <% end %>
                            </tbody>
                        </table>
                        
                        <p>Number of Evaluations: <%= averages['evaluation_count'] %> | <%= link_to 'View Evaluations For This Presentation', presentation_evaluations_path(presentation) %></p>
                    </div>
                    <br>
                <% end %>
            <% end %>
        <%end%>

            <% if @user_presentations.length() == 0 %>
                <p>
                    You have no upcoming presentations. 
                </p>
            <% end%>

            <hr>

            <p>Click <%= link_to 'here', edit_user_registration_path %> to edit your account.</p>




        <%else%>
            <p><%= link_to 'View All Presentations', presentations_path %> | <%= link_to 'Create a Presentation', new_presentation_path %></p>
            <hr>
            <p><%= link_to 'See Users and Manage Enrollments', users_path %></p>
            <hr>
            <p><%= link_to 'View all Student evaluations', evaluations_path %></p>
            <hr>
            <p>Here are the evaluations for all the presentations:</p>

            <% @attribute_averages.each do |presentation, averages| %>
            <% if presentation.course == current_user.course%>
            <div class= "display_stats">
            <p>Presentation Title: <%= presentation.title %> | <%= link_to 'View Presentation', presentation_path(presentation) %></p>

            <table >
                <thead>
                <tr>
                    <th>Quality</th>
                    <th>Average(out of 5)</th>
                </tr>
                </thead>
                <tbody>
                <% averages.each do |attribute, average| %>
                    <% if attribute.humanize == "Evaluation count" %>
                        <% next %>
                    <%end%>
                    <tr>
                    <td><%= attribute.humanize %></td>
                    <td><%= number_with_precision(average, precision: 2) %></td>
                    </tr>
                <% end %>
                </tbody>
                </table>
                <p>Number of Evaluations: <%= averages['evaluation_count'] %> | <%= link_to 'View Evaluations For This Presentation', presentation_evaluations_path(presentation) %></p>
                </div>
                <br>
            <% end %>
            <% end %>
        <% end %>
        <hr>
        <p>Click <%= link_to 'here', edit_user_registration_path %> to edit your account.</p>
    <% else %>
        <p>
            Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to see all upcoming presentations.
        </p>
    <% end %>
</div>