<% provide(:title, "Home") %>
<div>
    <h1>Comprehensive Assessment of Presentation Effectiveness</h1>
    <% if user_signed_in? %>
        <div class="row d-flex align-items-center">
            <div class="col-md-3">
                <h3>Welcome, <%= current_user.first %></h3>
                <span>
                    Click <%= link_to 'here', edit_user_registration_path %> to edit your account.
                </span>
            </div>

            <div class="col-md-9">
                <h3>
                    <%= link_to 'Presentations', presentations_path, class: 'bold' %> |
                    <%= link_to 'Evaluations', evaluations_path, class: 'bold' %> |
                    <%= link_to 'Roster', users_path, class: 'bold' %>
                </h3>
            </div>
        </div>

        <hr>

        <% if current_user.role == 'Student' %>
            <h3 class="bold"><%= current_user.first %>'s Upcoming Presentations:</h3>
            <% if @user_presentations.blank? %>
                <h4 class="presentation-container">You have no upcoming presentations.</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @user_presentations.each do |presentation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= presentation.title %></h4>
                                <span><%= presentation.due_date %></span>
                            </div>
                            
                            <%= link_to 'View Presentation', presentation_path(presentation), class: "presentation-button view-presentation-button" %>
                            <%= link_to 'Evaluate', new_evaluation_path(presentation_id: presentation.id), class: "presentation-button new-evaluation-button" %>
                        </div>
                    <% end %>
                </div>
            <% end %>

            <h3 class="bold">Other Class Presentations:</h3>
            <% if @other_presentations.blank? %>
                <h4 class="presentation-container">There are no other presentations.</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @other_presentations.each do |presentation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= presentation.title %></h4>
                                <span><%= presentation.due_date %></span>
                            </div>
                            
                            <%= link_to 'View Presentation', presentation_path(presentation), class: "presentation-button view-presentation-button" %>
                            <%= link_to 'Evaluate', new_evaluation_path(presentation_id: presentation.id), class: "presentation-button new-evaluation-button" %>
                        </div>
                    <% end %>
                </div>
                <br>
            <% end %>
        <% else %>
            <h3 class="bold">Upcoming Presentations:</h3>
            <% if @presentations.blank? %>
                <h4 class="presentation-container">There are no upcoming presentations.</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @presentations.each do |presentation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= presentation.title %></h4>
                                <span><%= presentation.due_date %></span>
                            </div>
                            
                            <%= link_to 'View Presentation', presentation_path(presentation), class: "presentation-button view-presentation-button" %>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <hr>
            <p>Click <%= link_to 'here', edit_user_registration_path %> to edit your account.</p>
        <% end %>
    
    <% else %>
        <p>
            STUDNETS: Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to see all upcoming presentations.
        </p>
        <hr>
        <p>
            INSTRUCTORS: Please <%= link_to "Add Class", new_course_path %> to add a course and create an instructor account for that class or <%= link_to 'sign in', new_user_session_path %>.
        </p>
    <% end %>
</div>