<% provide(:title, "Home") %>
<div>
    <h1 class= "text-center"><strong>Comprehensive Assessment of Presentation Effectiveness</strong></h1>
    <br>
    <% if user_signed_in? %>
        <div class="row d-flex align-items-center">
            <div class="col-md-4 border-right">
                <%if current_user.role == "Student"%>
                <div class="d-flex flex-row gap-3">
                    <h3>Welcome, <%= current_user.first %></h3>
                    <%= link_to 'Edit Account', edit_user_registration_path, class: "presentations-back-button presentation-button" %>
                </div>
                <%elsif current_user.role == "Instructor/TA"%>
                <div class="d-flex flex-row gap-3">
                    <%= link_to 'Edit Account', edit_user_registration_path, class: "presentations-back-button presentation-button" %>
                    <%= link_to 'Delete/Edit Course', course_path(current_user.course), method: :delete, data: { confirm: 'Are you sure you want to leave this course?' }, class: 'presentation-button btn-danger' %>
                </div>
                <%end%>
            </div>

            <div class="col-md-8 d-flex flex-col justify-content-center align-items-center">
                <h1>
                    <%= current_user.course.name %>
                </h1>
            </div>
        </div>

        <hr>

        <% if current_user.role == 'Student' %>
            <h3 class="bold"><%= current_user.first %>'s Upcoming Presentations:</h3>
            <% if @user_presentations.blank? %>
                <h4 class="presentation-container">You have no upcoming presentations.</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @user_presentations.each do |presentation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= presentation.title %></h4>
                                <span><%= presentation.due_date %></span>
                            </div>
                            
                            <%= link_to 'View Presentation', presentation_path(presentation), class: "presentation-button view-presentation-button" %>
                        </div>
                    <% end %>
                </div>
            <% end %>

            
            <hr>

            <h3 class="bold">Presentations Without Your Evaluations:</h3>
            <% if @presentations_without_evaluation.blank? %>
                <h4 class="presentation-container">You have no presentations to evaluate</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @presentations_without_evaluation.each do |presentation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= presentation.title %></h4>
                                <span><%= presentation.due_date %></span>
                            </div>
                            
                            <%= link_to 'View Presentation', presentation_path(presentation), class: "presentation-button view-presentation-button" %>
                            <%= link_to 'Evaluate', new_evaluation_path(presentation_id: presentation.id), class: "presentation-button new-evaluation-button" %>
                        </div>
                    <% end %>
                </div>
                <br>
            <% end %>

            
            <hr>

            <h3 class="bold"><%= current_user.first %>'s Evaluations:</h3>
            <% if @user_evaluations.blank? %>
                <h4 class="presentation-container">You have not evaluated any presentations.</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @user_evaluations.each do |evaluation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= @all_presentations.find(evaluation.presentation_id).title %></h4>
                                <span>Overall Score: <%= evaluation.overall_score %></span>
                            </div>
                            
                            <%= link_to 'View Evaluation', evaluation_path(evaluation), class: "presentation-button view-presentation-button" %>
                        </div>
                    <% end %>
                </div>
            <% end %>


        <% else %>
            <h3 class="bold">Upcoming Presentations:</h3>
            <% if @other_presentations.blank? %>
                <h4 class="presentation-container">There are no other presentations.</h4>
            <% else %>
                <div class="d-flex flex-col gap-3">
                    <% @other_presentations.each do |presentation| %>
                        <div class="presentation-container d-flex align-items-center">
                            <div class="col-md-11 d-flex align-items-center gap-3">
                                <h4 class="bold"><%= presentation.title %></h4>
                                <span><%= presentation.due_date %></span>
                            </div>
                            
                            <%= link_to 'View Presentation', presentation_path(presentation), class: "presentation-button view-presentation-button" %>
                            
                        </div>
                    <% end %>
                </div>
                <br>
            <% end %>
        <% end %>
    



    <% else %>

        <div class="login_container">
            <h3 class="login_header">
                STUDENTS: Please <a class="link" href="<%= new_user_session_path %>">Sign In</a> or <a class="link" href="<%= new_user_registration_path %>">Sign Up</a> to see all upcoming presentations.
             </h3>
            <hr class="separator">
            <h3 class="log_inheader">
                INSTRUCTORS: Please <a class="link" href="<%= new_course_path %>">Add Class</a> to add a course and create an instructor account or <a class="link" href="<%= new_user_session_path %>">Sign In</a>.
            </h3>
        </div>
    <% end %>
</div>