<%= form_with(model: presentation) do |form| %>
  <% if presentation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(presentation.errors.count, "error") %> prohibited this presentation from being saved:</h2>

      <ul>
        <% presentation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, required: true %>*
  </div>

  <div>
    <%= form.label :course_id, style: "display: block" %>
    <%= form.hidden_field :course_id, value: current_user.course_id %>
    <%= form.text_field :course_name, value: current_user.course.name, readonly: true%>
  </div>

  <div>
    <%= form.label :due_date, style: "display: block" %>
    <%= form.date_field :due_date, required: true %>*
  </div>

  <div>
    <%= form.label :grade, style: "display: block" %>
    <%= form.number_field :grade, required: false %>
  </div>

  <div>
    <%= form.label :selected_authors, style: "display: block" %>
    <% @users.each do |user| %>
      <div>
        <%= check_box_tag 'presentation[selected_authors][]', user.id, @selected_authors.include?(user.id), { multiple: true } %>
        <%= form.label "user_#{user.id}", user.first + " " + user.last %>
      </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
