<% provide(:title, "Presentations") %>
<div id="<%= dom_id presentation %>">
  <div class="presentation-container">
    <h4 class="bold"><%= presentation.title %></h4>

  <p>
    <strong>Course:</strong>
    <%= presentation.course.name %>
  </p>

    <p>
      <strong>Due Date:</strong>
      <%= presentation.due_date %>
    </p>

    <p>
      <strong>Presenter(s):</strong>
      <% @authors.each do |author| %>
        <% if (presentation.id == author.presentation_id)%>
          <%= author.user.first + " " + author.user.last %>
        <% end %>
      <% end %>

    <% if current_user.role == "Instructor/TA" or current_user.presentations.include?(@presentation)%>
      <p>
        <strong>Grade:</strong>
      <%= presentation.grade %>

      <% if current_user.role == "Instructor/TA" %>
        <%= link_to 'Add Grade', edit_presentation_path(presentation) %>
      <% end %>
    </p>
    <% end %>

  </div>
</div>
