<% provide(:title, "Presentations") %>
<div id="<%= dom_id presentation %>">
  <p>
    <strong>Title:</strong>
    <%= presentation.title %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= presentation.course %>
  </p>

  <p>
    <strong>Due Date:</strong>
    <%= presentation.due_date %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= presentation.grade %>
  </p>

</div>
