<p style="color: green"><%= notice %></p>

<h1>Presentations</h1>

<div id="presentations">
  <% if user_signed_in? %>
  <% @presentations.each do |presentation| %>
    <%= render presentation %>
    <p>
      <%= link_to "Show this presentation", presentation %>
    </p>
  <% end %>
</div>

<%= link_to "New presentation", new_presentation_path %>

<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to see all upcoming presentations.</p>
<% end %>
