<p style="color: green"><%= notice %></p>

<h1>Presentations</h1>

<% if user_signed_in? %>
  <div id="presentations">
    <% if @presentations.empty? %>
      <p>There are no presentations scheduled.</p>
    <% else %>
      <% @presentations.each do |presentation| %>
       <% if presentation.course == current_user.courses %>
        <%= render presentation %>
          <p>
            <%= link_to "Show this presentation", presentation %>
          </p>
          <hr>
         <%end%> 
      <% end %>
    <% end %>
</div>

<% if current_user.role == 'Instructor/TA' %>
  <%= link_to "New presentation", new_presentation_path %>
<% end %>

<%= link_to "Back to Home Page", home_path %>

<% else %>
  <p>Please <%= link_to 'sign in', new_user_session_path %> or <%= link_to 'sign up', new_user_registration_path %> to see all upcoming presentations.</p>
<% end %>


