<p style="color: green"><%= notice %></p>


<h3 class="bold">Presentation:</h3>
<%= render @presentation %>
<br>

<div class="d-flex gap-3">
  <%= link_to "Back to presentations", presentations_path, class: "presentations-back-button presentation-button" %>

  <% if current_user.role == 'Instructor/TA' %>
    <%= link_to "Edit this presentation", edit_presentation_path(@presentation), class: "presentations-edit-button presentation-button" %>
    <%= button_to "Destroy this presentation", @presentation, method: :delete, class: "presentations-delete-button presentation-button"%>
    <%= link_to 'View Evaluations', presentation_evaluations_path(@presentation), class: "presentation-button view-presentation-button" %>
  <% elsif Author.where(user_id: current_user.id, presentation_id: @presentation.id).exists? %>
    <%= link_to 'View Evaluations', presentation_evaluations_path(@presentation), class: "presentation-button view-presentation-button" %>
  <% else %>
    <%= link_to 'Evaluate', new_evaluation_path(presentation_id: @presentation.id), class: "presentation-button new-evaluation-button" %>
  <%end%>
</div>

<hr>

<% if current_user.role == "Instructor/TA" or Author.where(user_id: current_user.id, presentation_id: @presentation.id).exists? %>
  <h3 class="bold">Evaluation Averages:</h3>

  <% if @evaluations.blank? %>
    <h4 class="presentation-container">There are no evaluations for this presentation.</h4>
  <% else %>
    <% @attribute_averages.each do |presentation, averages| %>
      <div class= "display_stats">
        <h4>Number of Evaluations: <%= averages['evaluation_count'] %> / <%=@student_count%> </h4>

        <div class="stats-grid">
          <h4 class="bold stats-grid-title">Quality</h4>
          <h4 class="bold stats-grid-title">Average Score (0-5)</h4>

          <% averages.each do |attribute, average| %>
            <% if attribute.humanize == "Evaluation count" %>
              <% next %>
            <% end %>
            <p class="stats-item stats-attr"><%= @attribute_labels[attribute] %></p>
            <p class="stats-item stats-score"><%= number_with_precision(average, precision: 2) %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
