<% provide(:title, "Users") %>
<h1>Course Roster</h1>
<h3 class="bold"><%= current_user.courses %></h3>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First</th>
      <th>Last</th>
      <th>Course</th>
      <th>Role</th>
      <% if current_user.role == "Instructor/TA" %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.courses == current_user.courses%>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first %></td>
          <td><%= user.last %></td>
          <td><%= user.courses %></td>
          <td><%= user.role %></td>
          <% if current_user.role == "Instructor/TA" %>
            <td><%= link_to 'Show', user %></td>
            <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to "Back to Home Page", home_path %>