<% provide(:title, "Users") %>
<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first %> <%= user.last %></td>
        <td>
          <%= button_to 'Delete', user, method: :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>