<% provide(:title, "Users") %>
<h1>Course Roster</h1>
<h3 class="bold"><%= current_user.course.name %></h3>

<table class= "display_table">
  <thead>
    <tr>
      <th>Email</th>
      <th>First</th>
      <th>Last</th>
      <th>Course</th>
      <th>Role</th>
      <% if current_user.role == "Instructor" %>
        <th colspan="3"></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user.course == current_user.course%>
        <tr>
          <td><%= user.email %></td>
          <td><%= user.first %></td>
          <td><%= user.last %></td>
          <td><%= user.course.name %></td>
          
          <td><%= user.role %></td>
          
            <% if (current_user.role != "Instructor" and user == current_user) or current_user.role == "Instructor"%>
            <td>
              <%= link_to 'Show', user %>
            </td>
            <% end%>
          
          <%if current_user.role == "Instructor" and user != current_user%>
            <td><%= button_to 'Create/Demote TA', change_role_user_path(user), method: :put %></td>
            <td><%= button_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%elsif current_user.role == "Instructor"%>
            <td>Update Student Roles</td>
            <td>Unenroll Students</td>
          <%end%>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to "Back to Home Page", root_path, class: "presentations-back-button presentation-button" %>