<p id="notice"><%= notice %></p>

<div class = "form-options">
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First:</strong>
  <%= @user.first %>
</p>

<p>
  <strong>Last:</strong>
  <%= @user.last %>
</p>

<p>
  <strong>Courses:</strong>
  <%= @user.course.name %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>
</div>

<%= link_to 'Back', users_path %>