<div id="<%= dom_id survey %>">
  <p>
    <strong>Clear topic intro:</strong>
    <%= survey.clear_topic_intro %>
  </p>

  <p>
    <strong>Clear direction intro:</strong>
    <%= survey.clear_direction_intro %>
  </p>

  <p>
    <strong>Logical sequence:</strong>
    <%= survey.logical_sequence %>
  </p>

  <p>
    <strong>Good summary conclusion:</strong>
    <%= survey.good_summary_conclusion %>
  </p>

  <p>
    <strong>Enough information:</strong>
    <%= survey.enough_information %>
  </p>

  <p>
    <strong>Free from filler:</strong>
    <%= survey.free_from_filler %>
  </p>

  <p>
    <strong>Filled time:</strong>
    <%= survey.filled_time %>
  </p>

  <p>
    <strong>Easily follow:</strong>
    <%= survey.easily_follow %>
  </p>

  <p>
    <strong>Presenter clear understanding:</strong>
    <%= survey.presenter_clear_understanding %>
  </p>

  <p>
    <strong>Consistent findings:</strong>
    <%= survey.consistent_findings %>
  </p>

  <p>
    <strong>Questions answered:</strong>
    <%= survey.questions_answered %>
  </p>

  <p>
    <strong>Effective visuals:</strong>
    <%= survey.effective_visuals %>
  </p>

  <p>
    <strong>Legible visuals:</strong>
    <%= survey.legible_visuals %>
  </p>

  <p>
    <strong>Proper grammar:</strong>
    <%= survey.proper_grammar %>
  </p>

  <p>
    <strong>Visuals enhance:</strong>
    <%= survey.visuals_enhance %>
  </p>

  <p>
    <strong>Appropriate timing visuals:</strong>
    <%= survey.appropriate_timing_visuals %>
  </p>

  <p>
    <strong>Clear delivery:</strong>
    <%= survey.clear_delivery %>
  </p>

  <p>
    <strong>Effective body language:</strong>
    <%= survey.effective_body_language %>
  </p>

  <p>
    <strong>Eye contact:</strong>
    <%= survey.eye_contact %>
  </p>

  <p>
    <strong>Overall score:</strong>
    <%= survey.overall_score %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= survey.comments %>
  </p>

</div>
