<!DOCTYPE html>
<html lang="en">

  <head>
    <title><%= yield(:title) %> | CAPE</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div id="main" class="container">
      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>

</html>
